body {
    background: lightcyan;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer{
    margin-bottom: 20px;
}

.main_container {
    overflow: auto;
}

.submit-btn {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #151515;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    
    #sidebar-wrapper {
        width: 250px;
    }
    
}


/*Mobile CSS STARTS */

#sidebar-wrapper {
    display: block;
}

#sidebar-mobile {
    display: none;
}

@media only screen and (max-width: 767px) {
    #sidebar-wrapper {
        display: none;
    }

    #sidebar-mobile {
        display: block;
    }
}

.sidebar-mobile-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.sidebar-mobile-nav li {
    float: left;
}

.sidebar-mobile-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidebar-mobile-nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*Mobile CSS ENDS*/

